<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link href={% static 'css/img/favicon.ico' %} rel="icon">

    <title>Pass-detail</title>
   
    <link rel="stylesheet" href={% static 'css/assets/bootstrap/css/bootstrap.min.css' %} />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"/>

    <link rel="stylesheet" href={% static 'css/assets/fonts/fontawesome-all.min.css' %} />

    <link rel="stylesheet" href={% static 'css/assets/css/untitled.css' %} />

  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <h4 style="margin-top: 30px;">
        
       &nbsp;<strong>Register Pass</strong>
     </h4>
     
  
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-5 d-none d-lg-flex">
              <div
                class="flex-grow-1 bg-register-image"
                style=
                " background-image: url( '{% static "/css/assets/img/pass.jpg" %}'  );
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 20rem;
                margin-top: 90px;"
              ></div>
            </div>
            <div class="col-lg-7">
              <div class="p-5">
                <form class="user" method="POST" action="">
                    {%  csrf_token  %}
                  <div class="form-group row">

                   

                    <label style= "width: 100%">Reason for the pass<br>
                    <select style = "margin-top: 45px; height: 2rem; width: 100%;" name="option" class="form-control" >
                        <option value="House contruction" class="form-control" name="option">For Construction of house</option>
                        <option value="Fire Wood" class="form-control" name="option">For Fire wood</option>
                        <option value="Timber" class="form-control" name="option">For Timber</option>
                        <option value="sand and stone" class="form-control" name="option">For sand and stone</option>
                      </select>
                      </label>

                  <!-- <a class="btn btn-primary btn-block text-white Login" style="margin-top:20px; background-color: #09463F;"
                    role="button"
                    >Submit</a> -->
                    <input class="btn btn-primary btn-block text-white Login" style="margin-top:20px; background-color: #09463F;" type="submit" value="Submit">
                  <hr />
                </form>
                <div class="text-center"></div>
                <div class="text-center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src={% static 'css/assets/js/jquery.min.js' %}></script>
    <script src={% static 'css/assets/bootstrap/js/bootstrap.min.js' %}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src={% static 'css/assets/js/theme.js' %}></script>

  </body>
</html>

