<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Login</title>
    
</head>
<body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
        swal({
        title: "Check your email for the password reset link.",
        text: "we have send a mail to your email to change password from there.",
        type: "success",
        icon: "success",
    }).then(function() {
        window.location = "http://localhost:8000/index"
    });
</script>
 

</body>
</html> 