{%  extends 'accounts/main2.html' %}

{% block content %}

{% load static  %}
	
	 
	 <div class="limiter">
		 <div class="container-login100">
			 <div class="wrap-login100">
				 <form class="login100-form validate-form" method="POST" action = "">
					 <!-- <img src="images/logo.png" height="30%" width="60%" style="float: center;"> -->
					 <span class="login100-form-title p-b-26">
						 Change Password
					 </span>
					 
					 <div style="margin-top: 15%;">
          </div>
           <form  method="post" action="">
            {%  csrf_token  %}

					 <div class="wrap-input100 validate-input" data-validate="Enter old password">
						 <span class="btn-show-pass">
							 <i class="zmdi zmdi-eye"></i>
						 </span>
						 <input class="input100" type="password" name="old_password">
						 <span class="focus-input100" data-placeholder="Enter old password"></span>
					 </div>

           <div class="wrap-input100 validate-input" data-validate="Enter new password">
            <span class="btn-show-pass">
              <i class="zmdi zmdi-eye"></i>
            </span>
            <input class="input100" type="password" name="new_password1">
            <span class="focus-input100" data-placeholder="Enter new password"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Confirm new password">
            <span class="btn-show-pass">
              <i class="zmdi zmdi-eye"></i>
            </span>
            <input class="input100" type="password" name="new_password2">
            <span class="focus-input100" data-placeholder="Confirm new Password"></span>
          </div>

			
 
					 <div class="container-login100-form-btn">
						 <div class="wrap-login100-form-btn">
							 <div class="login100-form-bgbtn"></div>
							 <button class="login100-form-btn" type="submit">
								 Change Password
							 </button>
							 
						 </div>
					 </form>
					 </div>

					
					
					 
				 </form>
			 </div>
		 </div>
	 </div>
	 
 
	 <div id="dropDownSelect1"></div>
	
{% endblock %}