<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>User Information</title>
    <link rel="stylesheet" href={% static 'css/assets_2/bootstrap/css/bootstrap.min.css' %} />
    <link
      rel="stylesheet"
      href={% static 'css/assets_2/css/Registration-Form-with-Photo.css' %}
    />
    <link rel="stylesheet" href={% static 'css/assets_2/css/styles.css' %} />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="main-body">
        <!-- Breadcrumb -->
        <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
          </ol>
        </nav> -->
        <!-- /Breadcrumb -->
        <h6 style="color: rgb(255, 94, 0); margin-top: 10px;">PERSONAL DETAILS</h6>

        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card" style="margin-top: 25px;">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  {% for x in profile %}
                  {% if x.user == request.user %}
                  <img
                    src="{{ x.profile.url }}"
                    alt="Admin"
                    class="rounded-circle"
                    height="190px"
                    width="190"
                  />
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">
                    <i class="fa fa-user" style="margin-right: 1em;"></i>Username</h6>
                   
                          <span class="text-secondary">{{request.user}}</span>
                        </li>
                 
        
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                        >
                          <h6 class="mb-0">
                            <i class="fa fa-envelope" style="margin-right: 1em;"></i>Email</h6>
                          <span class="text-secondary">{{x.email}}</span>
                        </li>
        
        
                        <li
                          class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                        >
                          <h6 class="mb-0">
                            <i class="fa fa-cog" style="margin-right: 1em;"></i>Password</h6>
                          <span class="text-secondary">Dechen</span>
                        </li>
                      </ul>
                    </div>
                  </div>
          <div class="col-md-8">
            <div class="card mb-3" style="margin-top: 25px;">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                 
                  <div class="col-sm-9 text-secondary">{{x.Name}}</div>
                  
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">CID Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">{{x.CID}}</div>
                  </div>
                  <hr/>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">DoB</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{x.DOB}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Village</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{x.Village}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Chiwog</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{x.Chiwog}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Thram Number</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{x.ThramNo}}
                  </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Household Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{x.HouseHoldNo}}
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{x.contact_number}}
                    </div>
                  </div>
                  <hr/>
                <div class="row">
                  <div class="col-sm-12">
                    <a
                      class="btn btn-info"
                      target="__blank"
                      href=" " style="width:110px; margin-top:10px;"
                      >Edit</a
                    >
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>

            <!-- Breadcrumb -->
            <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
              </ol>
            </nav> -->
            <!-- /Breadcrumb -->
             
            {% for i in marriage %}
            {% if i.user == request.user %}
            <h6 style="color: rgb(255, 94, 0); margin-top: 10px;">SPOUSE DETAILS</h6>
           
           
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3">
                <div class="card" style="margin-top: 25px;">
                  <div class="card-body">
                  
                   
                    <div class="d-flex flex-column align-items-center text-center">
                      
                      <img
                        src= "{{ i.Spousecid.profile.url }}"
                        alt="Admin"
                        class="rounded-circle"
                        height="190px"
                        width="190"
                      />
                      
                    </div>
                  </div>
                </div>
                <div class="card mt-3">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                    >
                 
                      
                      <h6 class="mb-0">
                        <i class="fa fa-user" style="margin-right: 1em;"></i>Username</h6>
                        <span class="text-secondary">{{i.Spousecid.user}}</span>
                      </li>
      
      
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                      >
                        <h6 class="mb-0">
                          <i class="fa fa-envelope" style="margin-right: 1em;"></i>Email</h6>
                        <span class="text-secondary">{{i.Spousecid.email}}</span>
                      </li>
      
      
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                      >
                        <h6 class="mb-0">
                          <i class="fa fa-cog" style="margin-right: 1em;"></i>Password</h6>
                        <span class="text-secondary">Dechen</span>
                      </li>
                    </ul>
                  </div>
                </div>
                
              <div class="col-md-8">
                <div class="card mb-3" style="margin-top: 25px;">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">{{i.Spousecid.Name}}</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">CID Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">{{i.Spousecid.CID}}</div>
                      </div>
                      <hr/>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">DoB</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">{{i.Spousecid.DOB}}</div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Village</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">{{i.Spousecid.Village}}</div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Chiwog</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">{{i.Spousecid.Chiwog}}</div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Thram Number</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{i.Spousecid.ThramNo}}
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Household Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{i.Spousecid.HouseHoldNo}}
                        </div>
                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{i.Spousecid.contact_number}}
                        </div>
                      </div>
                      <hr/>
                    <div class="row">
                      <div class="col-sm-12">
                       
                        <a
                          class="btn btn-info"
                          target="__blank"
                          href=" " style="width:110px; margin-top:10px;"
                          >Edit</a
                        >
                      
                      
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% else %}
    {% for x in profile %}
         {% if i.user == x.user  %}
         {% if request.user == i.Spousecid.user %}
         <h6 style="color: rgb(255, 94, 0); margin-top: 10px;">SPOUSE DETAILS</h6>
           
         
        
         <!-- <h3>{{i.user}}</h3> -->
       
         <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card" style="margin-top: 25px;">
              <div class="card-body">
              
               
                <div class="d-flex flex-column align-items-center text-center">
                  <img
                    src="{{ x.profile.url }}"
                    alt="Admin"
                    class="rounded-circle"
                    height="190px"
                    width="190"
                  />
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
             
                
                  <h6 class="mb-0">
                    <i class="fa fa-user" style="margin-right: 1em;"></i>Username</h6>
                    <span class="text-secondary">{{x.user}}</span>
                  </li>
  
  
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                  >
                    <h6 class="mb-0">
                      <i class="fa fa-envelope" style="margin-right: 1em;"></i>{{x.email}}</h6>
                    <span class="text-secondary">y.</span>
                  </li>
  
  
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                  >
                    <h6 class="mb-0">
                      <i class="fa fa-cog" style="margin-right: 1em;"></i>Password</h6>
                    <span class="text-secondary">Dechen</span>
                  </li>
                </ul>
              </div>
            </div>
          <div class="col-md-8">
            <div class="card mb-3" style="margin-top: 25px;">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{x.Name}}</div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">CID Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">{{x.CID}}</div>
                  </div>
                  <hr/>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">DoB</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{x.DOB}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Village</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{x.Village}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Chiwog</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{x.Chiwog}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Thram Number</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{x.ThramNo}}
                  </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Household Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{x.HouseHoldNo}}
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{x.contact_number}}
                    </div>
                  </div>
                  <hr/>
                <div class="row">
                  <div class="col-sm-12">
                   
                    <a
                      class="btn btn-info"
                      target="__blank"
                      href=" " style="width:110px; margin-top:10px;"
                      >Edit</a
                    >
                  
                  
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
         
        {% endif %}
        {% endif %}
      
        
    {% endfor %}
    {% endif %}    
    
    {% endfor %}
     
    

  </body>
</html>
